

#DefaultContentSplitter .dxsplVSeparatorButton_MetropolisBlue,
#DefaultContentSplitter .dxsplHSeparatorButton_MetropolisBlue {
    display: none !important;
}

.dxsplVSeparator_MetropolisBlue, .dxsplHSeparator_MetropolisBlue {
    font-size: 0px;
    padding: 0px !important;
}