.dxnb-content {
    background-color: #F3F3F3;
}

.dxnb-header {
    background-color: #F3F3F3 !important;
}

.dxnb-headerCollapsed,
.dxnb-headerCollapsedHover {
    background-color: #F3F3F3 !important;
}

.dxnbLite_MetropolisBlue .dxnb-content {
    padding: 0px;
}

.dxnbLite_MetropolisBlue .dxnb-link.dxnb-item,
.dxnbLite_MetropolisBlue .dxnb-item .dxnb-link {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 20px;
}

.dxnbLite_MetropolisBlue {
    font-family: 'Segoe UI', 'Segoe UI Web Regular', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
    font-kerning: auto;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-weight: normal;
}

.dxnb-ghtext {
    font-family: 'Segoe UI Light', 'Segoe UI Web Light', 'Segoe UI Web Regular', 'Segoe UI', 'Segoe UI Symbol', HelveticaNeue-Light, 'Helvetica Neue', Arial, sans-serif;
    font-kerning: auto;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-weight: normal;
}

.dxnbLite_MetropolisBlue .dxnb-btn {
    float: left;
    margin: 0px;
    margin-right: 0px;
}

.dxWeb_nbExpand_MetropolisBlue {
    background-position: 0px 0px;
    width: 16px;
    height: 13px;
    background-repeat: no-repeat;
    background-image: url('Sprite.png');
}

.dxWeb_nbCollapse_MetropolisBlue {
    background-position: -16px 0px;
    width: 16px;
    height: 13px;
    background-repeat: no-repeat;
    background-image: url('Sprite.png');
}

.dxnbLite_MetropolisBlue .dxnb-itemHover,
.dxnbLite_MetropolisBlue .dxnb-itemHover a,
.dxnbLite_MetropolisBlue .dxnb-largeHover,
.dxnbLite_MetropolisBlue .dxnb-largeHover a {
    background-color: #E0E0E0;
    color: black;
}

.dxnbLite_MetropolisBlue .dxnb-itemSelected,
.dxnbLite_MetropolisBlue .dxnb-largeSelected {
    background-color: #CCCCCC;
    color: black;
}

.dxnbLite_MetropolisBlue .dxnb-item,
.dxnbLite_MetropolisBlue .dxnb-large,
.dxnbLite_MetropolisBlue .dxnb-tmpl {
    margin-bottom: 0px;
}